<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GMaps.js &mdash; Mapa Basico</title>
  <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>



  <script type="text/javascript">
var map;
var latitudActual;
var longitudActual;

function createRoute(latitud,longitud){
  map.cleanRoute();
  map.drawRoute({
    origin: [latitudActual, longitudActual],
    destination: [latitud, longitud],
    travelMode: 'walking',
    strokeColor: '#131540',
    strokeOpacity: 0.6,
    strokeWeight: 6
  });
}

function getUbicacion(){
  GMaps.geolocate({
  success: function(position) {
    latitudActual = position.coords.latitude;
    longitudActual = position.coords.longitude;
    map.setCenter(position.coords.latitude, position.coords.longitude);
    map.addMarker({
      lat: position.coords.latitude,
      lng: position.coords.longitude,
      title: 'posicion actual',
      });
  },

  error: function(error) {
    alert('Geolocation failed: '+error.message);
  },
  not_supported: function() {
    alert("Your browser does not support geolocation");
  },

});
}
function getFarmacias(){
  $.ajax({
    type: 'GET',
    url :'/allFarmacias',
     dataType : 'html',
     success: function(data){
     console.log("success");
  data = jQuery.parseJSON(data);
     //var farmacia = data[0];

     $(data).each(function(index,farmacia){
       console.log(index);
       console.log(farmacia.latitud);
        if(farmacia.latitud != null){
       map.addMarker({
         lat: farmacia.latitud,
         lng: farmacia.longitud,
         icon : 'assets/farmredGreenNew.png',
         title: farmacia.nombre,
         click: function(e) {

          swal({
              title: farmacia.nombre,
              text: "Direccion: "+farmacia.direccion+" Telefono:"+farmacia.telefono+" Horario:"+farmacia.horario+" Observaciones: "+farmacia.obeservaciones,
              type: "success",
              showCancelButton: true,
              confirmButtonColor: "green",
              confirmButtonText: "Ir",
              cancelButtonText: "Volver",
              closeOnConfirm: true,
              closeOnCancel: true
            },
            function(isConfirm){
              if (isConfirm) {
                createRoute(farmacia.latitud,farmacia.longitud)
              }
            });


         }
       });
     }else{

     }
     });

  },
    error : function(error){
      console.log("error");
      alert("Error al cargar las farmacias");

    }
  });

}



   $(document).ready(function(){
     map = new GMaps({
       div: '#map',
       lat: -34.921178,
       lng: -57.954629,
       zoom: 14,
       zoomControl : false,
       panControl : false,
       streetViewControl : false,
       mapTypeControl: false,
       minZoom: 14
     });

getFarmacias();
getUbicacion();

   });
 </script>
 <style>
 body{
 font-family: Helvetica, Arial, sans-serif;
 margin:1em;
}
#map{
 display: block;
 width: 94%;
 height: 650px;
 margin: 4em auto;
 -moz-box-shadow: 0px 5px 20px #ccc;
 -webkit-box-shadow: 0px 5px 20px #ccc;
 box-shadow: 0px 5px 20px #ccc;
}

 </style>
</head>
<body>



     <div id="map"></div>
</body>

   </html>
